:root {
  --a-color_text: #000000;
  --a-color_gray: #666e72;
  --a-color_dark-blue: #171664;
  --a-color_blue: #29a4dd;
  --a-color_bg: #fff;
  --a-color_bg--light-blue: #c3e6f5;
  --a-color_bg--light-blue-lighter: hsla(198, 94%, 93%, 1);
  --a-color_bg--light-blue-darker: hsla(198, 61%, 79%, 1);
  --a-color_bg--alice-blue: #eff4ff;
  --a-color_bg--blue: #29a4dd;
  --a-color_bg--blue-lighter: hsla(199, 83%, 68%, 1);
  --a-color_bg--blue-darker: hsla(199, 72%, 45%, 1);
  --a-color_bg--charged-blue: #27a3dd;
  --a-color_bg--dark-blue: #171664;
  --a-color_bg--dark-blue-lighter: hsla(241, 64%, 33%, 1);
  --a-color_bg--dark-blue-darker: hsla(241, 64%, 18%, 1);
  --a-color_bg--light-green: #dfefad;
  --a-color_bg--light-green-lighter: hsla(74, 89%, 89%, 1);
  --a-color_bg--light-green-darker: hsla(74, 65%, 67%, 1);
  --a-color_bg--green: #bade50;
  --a-color_bg--green-lighter: hsla(75, 75%, 69%, 1);
  --a-color_bg--green-darker: hsla(76, 55%, 52%, 1);
  --a-color_bg--yellow: #faeb99;
  --a-color_bg--maastricht-blue: #0b2530;
  --a-color_link: #ff0040;
  --a-color_link--hover: #e8003a;
}

:root {
  --a-padding--x1: 0.25rem;
  --a-padding--x2: 0.5rem;
  --a-padding--x3: 0.75rem;
  --a-padding--x4: 1rem;
  --a-padding--x5: 1.25rem;
  --a-padding--x6: 1.5rem;
  --a-padding--x7: 1.75rem;
  --a-padding--x8: 2rem;
  --a-padding--x9: 2.25rem;
  --a-padding--x10: 2.5rem;
  --a-padding--x11: 2.75rem;
  --a-padding--x12: 3rem;
  --a-padding--x13: 3.25rem;
  --a-padding--x14: 3.5rem;
  --a-padding--x15: 3.75rem;
  --a-padding--x16: 4rem;
  --a-padding--x17: 4.25rem;
  --a-padding--x18: 4.5rem;
  --a-padding--x19: 4.75rem;
  --a-padding--x20: 5rem;
}

:root {
  --a-borderRadius--x4: 4px;
  --a-borderRadius--x8: 8px;
  --a-borderRadius--x10: 10px;
  --a-borderRadius--x12: 12px;
  --a-borderRadius--x16: 16px;
  --a-borderRadius--x20: 20px;
  --a-borderRadius--x24: 24px;
  --a-borderRadius--x32: 32px;
  --a-borderRadius--x65: 65px;
  --a-borderRadius--x100: 100px;
}

.s-mini-video__inner {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}

.s-mini-video__item {
  padding: 1rem;
  border-radius: 0.625rem;
  background-color: var(--a-color_bg--light-green);
}

.s-mini-video__item-title {
  margin-bottom: 1rem;
  font-family: "Neometric";
  font-size: 1rem;
  font-weight: 600;
}

.s-mini-video__item-link {
  cursor: pointer;
  font-weight: 400;
  color: var(--a-color_blue);
}

.s-interactive__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.8125rem;
}

.s-interactive__image img {
  width: 100%;
  height: auto;
  max-width: 56.25rem;
}

.s-interactive__btn {
  display: block;
  margin: 0 auto;
}

.s-interactive-platform__inner {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  flex-wrap: wrap;
}

.s-interactive-platform__image {
  position: relative;
  margin: 0 auto;
}

.s-interactive-platform__image img {
  z-index: 2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 28.125rem;
}

.s-interactive-platform__image svg {
  z-index: 1;
  position: absolute;
  top: -5rem;
  right: 0;
}

.s-interactive-platform__text {
  margin-bottom: 2.8125rem;
  font-size: 1rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .s-mini-video__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .s-mini-video__item {
    padding: 1.75rem;
  }

  .s-mini-video__item-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .s-interactive__image {
    margin-bottom: 3.75rem;
  }

  .s-interactive-platform__inner {
    gap: 2.5rem;
  }

  .s-interactive-platform__image {
    width: 40%;
  }

  .s-interactive-platform__info {
    width: 60%;
  }

  .s-interactive-platform__text {
    margin-bottom: 3.75rem;
    font-size: 1.375rem;
  }
}

@media (min-width: 992px) {
  .s-mini-video__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .s-interactive-platform__inner {
    flex-wrap: nowrap;
  }
}

@media screen {
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pt-0 {
    padding-top: 0;
  }
}
/*# sourceMappingURL=maps/arifmetica.css.map */
