:root {
  --a-color_text: #000000;
  --a-color_gray: #666e72;
  --a-color_bg: #fff;
  --a-color_bg--light-blue: #c3e6f5;
  --a-color_bg--alice-blue: #eff4ff;
  --a-color_bg--blue: #29a4dd;
  --a-color_bg--charged-blue: #27a3dd;
  --a-color_bg--dark-blue: #171664;
  --a-color_bg--light-green: #dfefad;
  --a-color_bg--green: #bade50;
  --a-color_bg--yellow: #faeb99;
  --a-color_bg--maastricht-blue: #0b2530;
  --a-color_link: #ff0040;
  --a-color_link--hover: #e8003a;
}

:root {
  --a-padding--x1: 0.25rem;
  --a-padding--x2: 0.5rem;
  --a-padding--x3: 0.75rem;
  --a-padding--x4: 1rem;
  --a-padding--x5: 1.25rem;
  --a-padding--x6: 1.5rem;
  --a-padding--x7: 1.75rem;
  --a-padding--x8: 2rem;
  --a-padding--x9: 2.25rem;
  --a-padding--x10: 2.5rem;
  --a-padding--x11: 2.75rem;
  --a-padding--x12: 3rem;
  --a-padding--x13: 3.25rem;
  --a-padding--x14: 3.5rem;
  --a-padding--x15: 3.75rem;
  --a-padding--x16: 4rem;
  --a-padding--x17: 4.25rem;
  --a-padding--x18: 4.5rem;
  --a-padding--x19: 4.75rem;
  --a-padding--x20: 5rem;
}

:root {
  --a-borderRadius--x4: 4px;
  --a-borderRadius--x8: 8px;
  --a-borderRadius--x10: 10px;
  --a-borderRadius--x12: 12px;
  --a-borderRadius--x16: 16px;
  --a-borderRadius--x20: 20px;
  --a-borderRadius--x24: 24px;
  --a-borderRadius--x32: 32px;
  --a-borderRadius--x65: 64px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*
    Dots plugin
*/

/*
    Navigation plugin
*/

.carousel {
  position: relative;
  box-sizing: border-box;
}

.carousel *,
.carousel *:before,
.carousel *:after {
  box-sizing: inherit;
}

.carousel.is-draggable {
  cursor: move;
  cursor: grab;
}

.carousel.is-dragging {
  cursor: move;
  cursor: grabbing;
}

.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.carousel__track {
  display: flex;
}

.carousel__slide {
  flex: 0 0 auto;
  width: var(--carousel-slide-width, 60%);
  max-width: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}

.carousel__dots {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.carousel__dots .carousel__dot {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.carousel__dots .carousel__dot:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  opacity: 0.25;
  transition: opacity 0.15s ease-in-out;
}

.carousel__dots .carousel__dot.is-selected:after {
  opacity: 1;
}

.carousel__button {
  width: var(--carousel-button-width, 48px);
  height: var(--carousel-button-height, 48px);
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  color: var(--carousel-button-color, currentColor);
  background: var(--carousel-button-bg, transparent);
  border-radius: var(--carousel-button-border-radius, 50%);
  box-shadow: var(--carousel-button-shadow, none);
  transition: opacity 0.15s ease;
}

.carousel__button.is-prev,
.carousel__button.is-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__button.is-prev {
  left: 10px;
}

.carousel__button.is-next {
  right: 10px;
}

.carousel__button[disabled] {
  cursor: default;
  opacity: 0.3;
}

.carousel__button svg {
  width: var(--carousel-button-svg-width, 50%);
  height: var(--carousel-button-svg-height, 50%);
  fill: none;
  stroke: currentColor;
  stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
  stroke-linejoin: bevel;
  stroke-linecap: round;
  filter: var(--carousel-button-svg-filter, none);
  pointer-events: none;
}

/*
  Thumbs plugin
*/

/* 3/2 */

/*
  HTML plugin
*/

/*
  Toolbar plugin
*/

html.with-fancybox {
  scroll-behavior: auto;
}

body.compensate-for-scrollbar {
  overflow: hidden !important;
  touch-action: none;
}

.fancybox__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  direction: ltr;
  margin: 0;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: var(--fancybox-color, #fff);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  z-index: 1050;
  outline: none;
  transform-origin: top left;
  --carousel-button-width: 48px;
  --carousel-button-height: 48px;
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.fancybox__container *,
.fancybox__container *::before,
.fancybox__container *::after {
  box-sizing: inherit;
}

.fancybox__container :focus {
  outline: none;
}

body:not(.is-using-mouse) .fancybox__container :focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
}

.fancybox__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--fancybox-bg, rgba(24, 24, 27, 0.92));
}

.fancybox__carousel {
  position: relative;
  flex: 1 1 auto;
  min-height: 0;
  /* For Safari */
  height: 100%;
  z-index: 10;
}

.fancybox__carousel.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}

.fancybox__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: default;
}

.fancybox__track {
  display: flex;
  height: 100%;
}

.fancybox__slide {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 48px 8px 8px 8px;
  position: relative;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  outline: 0;
  overflow: auto;
  --carousel-button-width: 36px;
  --carousel-button-height: 36px;
  --carousel-button-svg-width: 22px;
  --carousel-button-svg-height: 22px;
}

.fancybox__slide::before,
.fancybox__slide::after {
  content: "";
  flex: 0 0 0;
  margin: auto;
}

.fancybox__content {
  margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
  padding: 36px;
  color: var(--fancybox-content-color, #374151);
  background: var(--fancybox-content-bg, #fff);
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: thin dotted;
  box-shadow: none;
}

.fancybox__caption {
  align-self: center;
  max-width: 100%;
  margin: 0;
  padding: 1rem 0 0 0;
  line-height: 1.375;
  color: var(--fancybox-color, currentColor);
  visibility: visible;
  cursor: auto;
  flex-shrink: 0;
  overflow-wrap: anywhere;
}

.is-loading .fancybox__caption {
  visibility: hidden;
}

.fancybox__container > .carousel__dots {
  top: 100%;
  color: var(--fancybox-color, #fff);
}

.fancybox__nav .carousel__button {
  z-index: 40;
}

.fancybox__nav .carousel__button.is-next {
  right: 8px;
}

.fancybox__nav .carousel__button.is-prev {
  left: 8px;
}

.carousel__button.is-close {
  position: absolute;
  top: 8px;
  right: 8px;
  top: calc(env(safe-area-inset-top, 0px) + 8px);
  right: calc(env(safe-area-inset-right, 0px) + 8px);
  z-index: 40;
}

/* Close button located inside content area */

.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: -40px;
  right: 0;
  color: var(--fancybox-color, #fff);
}

.fancybox__no-click,
.fancybox__no-click button {
  pointer-events: none;
}

.fancybox__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  color: var(--fancybox-color, currentColor);
}

.fancybox__slide .fancybox__spinner {
  cursor: pointer;
  z-index: 1053;
}

.fancybox__spinner svg {
  animation: fancybox-rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.fancybox__spinner svg circle {
  fill: none;
  stroke-width: 2.75;
  stroke-miterlimit: 10;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: fancybox-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: currentColor;
}

@keyframes fancybox-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.fancybox__backdrop,
.fancybox__caption,
.fancybox__nav,
.carousel__dots,
.carousel__button.is-close {
  opacity: var(--fancybox-opacity, 1);
}

/* Opening */

.fancybox__container.is-animated[aria-hidden="false"] .fancybox__backdrop,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__caption,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__nav,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__dots,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__button.is-close {
  animation: 0.15s ease backwards fancybox-fadeIn;
}

/* Closing */

.fancybox__container.is-animated.is-closing .fancybox__backdrop,
.fancybox__container.is-animated.is-closing .fancybox__caption,
.fancybox__container.is-animated.is-closing .fancybox__nav,
.fancybox__container.is-animated.is-closing .carousel__dots,
.fancybox__container.is-animated.is-closing .carousel__button.is-close {
  animation: 0.15s ease both fancybox-fadeOut;
}

.fancybox-fadeIn {
  animation: 0.15s ease both fancybox-fadeIn;
}

.fancybox-fadeOut {
  animation: 0.1s ease both fancybox-fadeOut;
}

.fancybox-zoomInUp {
  animation: 0.2s ease both fancybox-zoomInUp;
}

.fancybox-zoomOutDown {
  animation: 0.15s ease both fancybox-zoomOutDown;
}

/* Both `throwOut` classes are for closing animation after dragging up/down */

.fancybox-throwOutUp {
  animation: 0.15s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  animation: 0.15s ease both fancybox-throwOutDown;
}

@keyframes fancybox-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fancybox-fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fancybox-zoomInUp {
  from {
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }

  to {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fancybox-zoomOutDown {
  to {
    transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
}

@keyframes fancybox-throwOutUp {
  to {
    transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
}

.fancybox__carousel .carousel__slide {
  scrollbar-width: thin;
  scrollbar-color: #ccc rgba(255, 255, 255, 0.1);
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.fancybox__carousel.is-draggable .fancybox__slide,
.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grab;
}

.fancybox__carousel.is-dragging .fancybox__slide,
.fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grabbing;
}

.fancybox__carousel .fancybox__slide .fancybox__content {
  cursor: auto;
}

.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
  cursor: zoom-in;
}

.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
  cursor: zoom-out;
}

.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
  cursor: move;
  cursor: grab;
}

.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
  cursor: move;
  cursor: grabbing;
}

.fancybox__image {
  transform-origin: 0 0;
  user-select: none;
  transition: none;
}

.has-image .fancybox__content {
  padding: 0;
  background: transparent;
  min-height: 1px;
}

.is-closing .has-image .fancybox__content {
  overflow: visible;
}

.has-image[data-image-fit="contain"] {
  overflow: visible;
  touch-action: none;
  /* Fix Mac OS Safari 11 - 13 */
}

.has-image[data-image-fit="contain"] .fancybox__content {
  flex-direction: row;
  flex-wrap: wrap;
}

.has-image[data-image-fit="contain"] .fancybox__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.has-image[data-image-fit="contain-w"] {
  overflow-x: hidden;
  overflow-y: auto;
}

.has-image[data-image-fit="contain-w"] .fancybox__content {
  min-height: auto;
}

.has-image[data-image-fit="contain-w"] .fancybox__image {
  max-width: 100%;
  height: auto;
}

.has-image[data-image-fit="cover"] {
  overflow: visible;
  touch-action: none;
}

.has-image[data-image-fit="cover"] .fancybox__content {
  width: 100%;
  height: 100%;
}

.has-image[data-image-fit="cover"] .fancybox__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  max-width: 100%;
  flex-shrink: 1;
  min-height: 1px;
  overflow: visible;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
  width: 100%;
  height: 80%;
}

.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  width: 960px;
  height: 540px;
  max-width: 100%;
  max-height: 100%;
}

.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  padding: 0;
  background: rgba(24, 24, 27, 0.9);
  color: #fff;
}

.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
  background: #e5e3df;
}

.fancybox__html5video,
.fancybox__iframe {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
}

.fancybox-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fancybox__thumbs {
  flex: 0 0 auto;
  position: relative;
  padding: 0px 3px;
  opacity: var(--fancybox-opacity, 1);
}

.fancybox__container.is-animated[aria-hidden="false"] .fancybox__thumbs {
  animation: 0.15s ease-in backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__thumbs {
  opacity: 0;
}

.fancybox__thumbs .carousel__slide {
  flex: 0 0 auto;
  width: var(--fancybox-thumbs-width, 96px);
  margin: 0;
  padding: 8px 3px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  cursor: pointer;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 5px;
  border-style: solid;
  border-color: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  opacity: 0;
  transition: opacity 0.15s ease;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}

.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
  opacity: 0.92;
}

.fancybox__thumbs .carousel__slide > * {
  pointer-events: none;
  user-select: none;
}

.fancybox__thumb {
  position: relative;
  width: 100%;
  /* Keep aspect ratio */
  padding-top: calc(100% / (var(--fancybox-thumbs-ratio, 1.5)));
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}

.fancybox__toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.006) 8.1%, rgba(0, 0, 0, 0.021) 15.5%, rgba(0, 0, 0, 0.046) 22.5%, rgba(0, 0, 0, 0.077) 29%, rgba(0, 0, 0, 0.114) 35.3%, rgba(0, 0, 0, 0.155) 41.2%, rgba(0, 0, 0, 0.198) 47.1%, rgba(0, 0, 0, 0.242) 52.9%, rgba(0, 0, 0, 0.285) 58.8%, rgba(0, 0, 0, 0.326) 64.7%, rgba(0, 0, 0, 0.363) 71%, rgba(0, 0, 0, 0.394) 77.5%, rgba(0, 0, 0, 0.419) 84.5%, rgba(0, 0, 0, 0.434) 91.9%, rgba(0, 0, 0, 0.44) 100%);
  padding: 0;
  touch-action: none;
  display: flex;
  justify-content: space-between;
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  opacity: var(--fancybox-opacity, 1);
  text-shadow: var(--fancybox-toolbar-text-shadow, 1px 1px 1px rgba(0, 0, 0, 0.4));
}

.fancybox__container.is-animated[aria-hidden="false"] .fancybox__toolbar {
  animation: 0.15s ease-in backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__toolbar {
  opacity: 0;
}

.fancybox__toolbar__items {
  display: flex;
}

.fancybox__toolbar__items--left {
  margin-right: auto;
}

.fancybox__toolbar__items--center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fancybox__toolbar__items--right {
  margin-left: auto;
}

.fancybox__counter {
  min-width: 72px;
  padding: 0 10px;
  line-height: var(--carousel-button-height, 48px);
  text-align: center;
  font-size: 17px;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox__progress {
  background: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 30;
  user-select: none;
}

.fancybox__container:fullscreen::backdrop {
  opacity: 0;
}

.fancybox__button--fullscreen g:nth-child(2) {
  display: none;
}

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none;
}

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block;
}

.fancybox__button--slideshow g:nth-child(2) {
  display: none;
}

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
  display: none;
}

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
  display: block;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Progress */

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

/* Scrollbar */

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-horizontal .swiper-pagination {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0;
}

.swiper-container-horizontal .swiper-pagination-bullet {
  flex: 1;
  width: 100%;
  max-width: unset;
  height: 0.25rem;
  max-width: 3.75rem;
  margin: 0 0.4375rem;
  background: var(--colorSliderDefault);
  border-radius: var(--a-borderRadius--default);
  opacity: 1;
}

.swiper-container-horizontal .swiper-pagination-bullet:hover {
  background: var(--a-color_link);
  cursor: pointer;
}

.swiper-container-horizontal .swiper-pagination-bullet-active,
.swiper-container-horizontal .swiper-pagination-bullet-active:hover {
  background: var(--colorSliderActive);
  cursor: default;
}

h1,
.a-font_h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
}

h2,
.a-font_h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2rem;
}

h3,
.a-font_h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.875rem;
}

h4,
.a-font_h4 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.875rem;
}

h5,
.a-font_h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h6,
.a-font_h6 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
}

.a-font_m {
  font-size: 1rem;
  line-height: 1.25rem;
}

.a-font_s {
  font-family: "Neometric Alt";
  font-size: 0.875rem;
  line-height: 1.4;
}

.a-font_xs {
  font-size: 0.75rem;
  line-height: 1.4;
}

.a-font_button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

.a-font_link {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  text-decoration-line: underline;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNormsLight.woff2") format("woff2"), url("../fonts/TTNormsLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  overflow: unset;
  font-family: "TT Norms", serif;
  font-size: 1rem;
  color: var(--a-color_text);
  -webkit-text-size-adjust: 100%;
  background-color: var(--a-color_bg);
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden,
[hidden] {
  display: none;
}

:root {
  --layout-width: 81.25rem;
  --layout-padding: 2rem;
  --layout-h-padding: 1rem;
  --layout-v-padding: 2rem;
}

.wrapper {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.l-wide {
  --layout-width: 78.375rem;
  width: 100%;
  max-width: var(--layout-width);
  margin: 0 auto;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  padding: 1rem;
}

.icon-logo {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 300px;
  height: 70px;
}

.ico-color-clock {
  width: 1em;
  height: 1em;
}

.ico-mono-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}

.l-section__outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-section__title {
  text-align: center;
}

.l-section__wrapper {
  overflow: hidden;
  padding: var(--layout-v-padding) var(--layout-h-padding);
}

.l-section--full {
  padding: var(--a-padding--x4);
  background-color: var(--a-color_bg);
}

.l-section--full .l-section__outer {
  border-radius: var(--a-borderRadius--x24);
}

.l-section--full .l-section__wrapper {
  background-color: transparent;
}

.l-section__title {
  margin-bottom: 1.5rem;
}

.--bg-color_white {
  background-color: var(--a-color_bg);
  color: var(--a-color_text);
}

.--bg-color_light-blue {
  background-color: var(--a-color_bg--light-blue);
  color: var(--a-color_text);
}

.--bg-color_light-green {
  background-color: var(--a-color_bg--light-green);
  color: var(--a-color_text);
}

.--bg-color_yellow {
  background-color: var(--a-color_bg--yellow);
  color: var(--a-color_text);
}

.header__top {
  display: none;
  padding: 0.625rem 0;
  background-color: var(--a-color_bg--alice-blue);
}

.header__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8125rem;
}

.header__contact-item {
  display: flex;
  align-items: center;
}

.header__contact-item svg {
  margin-right: 0.5rem;
}

.header__phone {
  display: flex;
  align-items: center;
}

.header__phone-link {
  margin-right: 1rem;
}

.header__phone span {
  display: inline-block;
}

.footer {
  padding: 1.875rem 0 3.75rem;
  color: var(--a-color_bg);
  background-color: var(--a-color_bg--maastricht-blue);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.375rem;
  flex-wrap: wrap;
}

.footer__col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__logo {
  display: block;
  margin-bottom: 2.5rem;
}

.footer__menu {
  display: flex;
  align-items: center;
  margin-bottom: 3.75rem;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 1.625rem;
}

.footer__menu-link {
  font-family: "Neometric Alt", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--white-color);
}

.footer__title,
.footer__phone {
  display: block;
  font-family: "Neometric Alt", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 109%;
  color: var(--white-color);
}

.footer__title:not(:last-child),
.footer__phone:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__title-fillial,
.footer__phone-fillial {
  color: var(--a-color_bg--blue);
  margin-bottom: 3.75rem;
}

.footer__address {
  margin-bottom: 3.75rem;
}

.footer__phone {
  margin-bottom: 3.75rem;
}

.footer__info-item {
  display: flex;
  align-items: center;
  line-height: 1.4;
}

.footer__info-item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.footer__info-item svg {
  margin-right: 0.5rem;
}

.footer__info-item a {
  color: var(--a-color_bg);
}

.footer__social {
  display: flex;
  align-items: center;
  margin-bottom: 3.75rem;
}

.footer__social-item:not(:last-child) {
  margin-right: 1rem;
}

.footer__social-icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__social-icon--instagram {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' fill='white'/%3E%3Cpath d='M20 8.52109C23.7406 8.52109 24.1836 8.5375 25.6547 8.60312C27.0219 8.66328 27.7602 8.89297 28.2523 9.08438C28.9031 9.33594 29.3734 9.64219 29.8602 10.1289C30.3523 10.6211 30.6531 11.0859 30.9047 11.7367C31.0961 12.2289 31.3258 12.9727 31.3859 14.3344C31.4516 15.8109 31.468 16.2539 31.468 19.9891C31.468 23.7297 31.4516 24.1727 31.3859 25.6438C31.3258 27.0109 31.0961 27.7492 30.9047 28.2414C30.6531 28.8922 30.3469 29.3625 29.8602 29.8492C29.368 30.3414 28.9031 30.6422 28.2523 30.8938C27.7602 31.0852 27.0164 31.3148 25.6547 31.375C24.1781 31.4406 23.7352 31.457 20 31.457C16.2594 31.457 15.8164 31.4406 14.3453 31.375C12.9781 31.3148 12.2398 31.0852 11.7477 30.8938C11.0969 30.6422 10.6266 30.3359 10.1398 29.8492C9.64766 29.357 9.34688 28.8922 9.09531 28.2414C8.90391 27.7492 8.67422 27.0055 8.61406 25.6438C8.54844 24.1672 8.53203 23.7242 8.53203 19.9891C8.53203 16.2484 8.54844 15.8055 8.61406 14.3344C8.67422 12.9672 8.90391 12.2289 9.09531 11.7367C9.34688 11.0859 9.65313 10.6156 10.1398 10.1289C10.632 9.63672 11.0969 9.33594 11.7477 9.08438C12.2398 8.89297 12.9836 8.66328 14.3453 8.60312C15.8164 8.5375 16.2594 8.52109 20 8.52109ZM20 6C16.1992 6 15.7234 6.01641 14.2305 6.08203C12.743 6.14766 11.7203 6.38828 10.8344 6.73281C9.91016 7.09375 9.12813 7.56953 8.35156 8.35156C7.56953 9.12813 7.09375 9.91016 6.73281 10.8289C6.38828 11.7203 6.14766 12.7375 6.08203 14.225C6.01641 15.7234 6 16.1992 6 20C6 23.8008 6.01641 24.2766 6.08203 25.7695C6.14766 27.257 6.38828 28.2797 6.73281 29.1656C7.09375 30.0898 7.56953 30.8719 8.35156 31.6484C9.12813 32.425 9.91016 32.9063 10.8289 33.2617C11.7203 33.6063 12.7375 33.8469 14.225 33.9125C15.718 33.9781 16.1938 33.9945 19.9945 33.9945C23.7953 33.9945 24.2711 33.9781 25.7641 33.9125C27.2516 33.8469 28.2742 33.6063 29.1602 33.2617C30.0789 32.9063 30.8609 32.425 31.6375 31.6484C32.4141 30.8719 32.8953 30.0898 33.2508 29.1711C33.5953 28.2797 33.8359 27.2625 33.9016 25.775C33.9672 24.282 33.9836 23.8063 33.9836 20.0055C33.9836 16.2047 33.9672 15.7289 33.9016 14.2359C33.8359 12.7484 33.5953 11.7258 33.2508 10.8398C32.9063 9.91016 32.4305 9.12813 31.6484 8.35156C30.8719 7.575 30.0898 7.09375 29.1711 6.73828C28.2797 6.39375 27.2625 6.15313 25.775 6.0875C24.2766 6.01641 23.8008 6 20 6Z' fill='%230B2530'/%3E%3Cpath d='M20 12.8086C16.0297 12.8086 12.8086 16.0297 12.8086 20C12.8086 23.9703 16.0297 27.1914 20 27.1914C23.9703 27.1914 27.1914 23.9703 27.1914 20C27.1914 16.0297 23.9703 12.8086 20 12.8086ZM20 24.6648C17.4242 24.6648 15.3352 22.5758 15.3352 20C15.3352 17.4242 17.4242 15.3352 20 15.3352C22.5758 15.3352 24.6648 17.4242 24.6648 20C24.6648 22.5758 22.5758 24.6648 20 24.6648Z' fill='%230B2530'/%3E%3Cpath d='M29.1547 12.5241C29.1547 13.4538 28.4 14.203 27.4758 14.203C26.5461 14.203 25.7969 13.4483 25.7969 12.5241C25.7969 11.5944 26.5516 10.8452 27.4758 10.8452C28.4 10.8452 29.1547 11.5999 29.1547 12.5241Z' fill='%230B2530'/%3E%3C/svg%3E");
}

.footer__social-icon--facebook {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' fill='white'/%3E%3Cpath d='M25.1482 22.9563L25.8219 18.466H21.6073V15.5534C21.6073 14.3249 22.1962 13.1262 24.0838 13.1262H26V9.3034C26 9.3034 24.261 9 22.5983 9C19.1272 9 16.8584 11.1505 16.8584 15.0437V18.466H13V22.9563H16.8584V33.8113C18.4318 34.0629 20.0339 34.0629 21.6073 33.8113V22.9563H25.1482Z' fill='%230B2530'/%3E%3C/svg%3E%0A");
}

.footer__social-icon--youtube {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' fill='white'/%3E%3Cpath d='M33.4145 13.1226C33.2562 12.5187 32.9443 11.9675 32.5098 11.5242C32.0754 11.0809 31.5337 10.7611 30.9391 10.5968C28.75 10 20 10 20 10C20 10 11.25 10 9.06091 10.5968C8.46625 10.7611 7.9246 11.0809 7.49017 11.5242C7.05574 11.9675 6.74376 12.5187 6.58545 13.1226C6 15.3516 6 20 6 20C6 20 6 24.6484 6.58545 26.8774C6.74376 27.4813 7.05574 28.0325 7.49017 28.4758C7.9246 28.9191 8.46625 29.2389 9.06091 29.4032C11.25 30 20 30 20 30C20 30 28.75 30 30.9391 29.4032C31.5337 29.2389 32.0754 28.9191 32.5098 28.4758C32.9443 28.0325 33.2562 27.4813 33.4145 26.8774C34 24.6484 34 20 34 20C34 20 34 15.3516 33.4145 13.1226Z' fill='%230B2530'/%3E%3Cpath d='M17 24V16L24 20L17 24Z' fill='%23FEFEFE'/%3E%3C/svg%3E ");
}

.footer__social-icon--vkontakte {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.1128 13H7.05027C6.17504 13 6 13.4209 6 13.8861C6 14.715 7.03766 18.8294 10.8354 24.2694C13.3659 27.9858 16.9326 30 20.1772 30C22.1251 30 22.366 29.5519 22.366 28.7832V25.9744C22.366 25.0797 22.5508 24.9007 23.167 24.9007C23.6221 24.9007 24.3993 25.1326 26.2183 26.9235C28.2951 29.048 28.6368 30 29.8046 30H32.8686C33.7438 30 34.1822 29.5519 33.9287 28.6686C33.6528 27.7896 32.6614 26.5127 31.345 24.9995C30.6309 24.1377 29.561 23.2086 29.2361 22.7433C28.781 22.1464 28.9112 21.8815 29.2361 21.3504C29.2361 21.3504 32.9681 15.9763 33.3574 14.151C33.5534 13.4882 33.3574 13 32.4303 13H29.3677C28.5891 13 28.2292 13.4209 28.0346 13.8861C28.0346 13.8861 26.4774 17.7672 24.2704 20.2882C23.5563 21.0183 23.2314 21.2516 22.8421 21.2516C22.6474 21.2516 22.366 21.0183 22.366 20.3555V14.151C22.366 13.355 22.1405 13 21.4907 13H16.6763C16.1904 13 15.8977 13.3693 15.8977 13.7201C15.8977 14.4745 17.0012 14.6492 17.1146 16.7722V21.3833C17.1146 22.3955 16.9368 22.5787 16.5461 22.5787C15.5084 22.5787 12.9822 18.6791 11.4838 14.2183C11.1897 13.3507 10.8956 13 10.1128 13Z' fill='%230B2530'/%3E%3C/svg%3E ");
}

.footer__apps {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.footer__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__copyrite {
  margin-bottom: 3.75rem;
  color: var(--a-color_gray);
}

.footer__legal-text {
  color: var(--a-color_gray);
}

@media (min-width: 575px) {
  .swiper-container-horizontal .swiper-pagination-bullet {
    max-width: 6.875rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --layout-h-padding: 1.875rem;
  }
}

@media (min-width: 768px) {
  .header__top {
    display: block;
  }

  .footer__logo {
    margin-bottom: 3.125rem;
  }

  .footer__menu {
    align-items: flex-start;
    margin-bottom: 0;
    flex-direction: column;
  }

  .footer__title-fillial,
  .footer__phone-fillial {
    margin-bottom: 0;
  }

  .footer__social {
    margin-bottom: 6.25rem;
  }

  .footer__copyrite {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .swiper-container-horizontal .swiper-pagination {
    margin: 1.5rem 0 0;
  }

  .swiper-container-horizontal .swiper-pagination-bullet {
    max-width: 12.5rem;
  }

  .footer {
    padding: 2.625rem 0 3.875rem;
  }
}

@media screen and (min-width: 992px) {
  h1,
  .a-font_h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  h2,
  .a-font_h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  h3,
  .a-font_h3 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  h4,
  .a-font_h4 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h5,
  .a-font_h5 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  h6,
  .a-font_h6 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media all and (min-width: 1024px) {
  .fancybox__container {
    --carousel-button-width: 48px;
    --carousel-button-height: 48px;
    --carousel-button-svg-width: 27px;
    --carousel-button-svg-height: 27px;
  }

  .fancybox__slide {
    padding: 64px 100px;
  }

  .fancybox__nav .carousel__button.is-next {
    right: 40px;
  }

  .fancybox__nav .carousel__button.is-prev {
    left: 40px;
  }

  .carousel__button.is-close {
    right: 40px;
  }

  .fancybox__toolbar {
    padding: 8px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --layout-h-padding: 3rem;
    --layout-v-padding: 3.75rem;
  }

  .l-section__wrapper {
    margin: 0 var(--a-padding--x8);
  }

  .l-section--full {
    padding: var(--a-padding--x8);
  }
}

@media (min-width: 1200px) {
  .l-section__title {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .swiper-container-horizontal .swiper-pagination-bullet {
    max-width: 15rem;
  }
}

@media all and (min-width: 1480px) {
  .l-wide {
    --layout-width: 92.5rem;
  }
}

@media (max-width: 991px) {
  .footer__info {
    margin-bottom: 3rem;
  }
}

@media (max-width: 640px) {
  .fancybox__toolbar__items--center:not(:last-child) {
    display: none;
  }
}

@media (max-width: 574px) {
  .footer__title,
  .footer__phone {
    font-size: 1.25rem;
  }
}

@media screen {
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pt-0 {
    padding-top: 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-logo {
    background-size: 300px 70px;
    background-image: url("../img/sprite@2x.png");
  }
}
/*# sourceMappingURL=maps/global.css.map */
