+section('s-sertification', 'light-green', false)
  +m_title('Сертификация Abakus Center')
  .s-sertification__inner
    .s-sertification__info
      .l-section__title.a-font_h2 Проверьте ваш уровень в ментальной арифметике
      .l-section__text Сертификация Abakus Center - международная система оценки знания ментальной арифметики.
      +mButton('s-sertification__btn', 'blue', '', 'Пройти сертификацию онлайн', '')
    .s-sertification__image
      img(src="./img/s-sertification/cover.svg", alt="")
