include ../../blocks/components/m_section/m_section.pug
include ../../blocks/components/m_button/m_button.pug
include ../../blocks/components/m_title/m_title.pug
include ../../blocks/components/m_video/m_video.pug
include ../../blocks/components/m_video_section/m_video_section.pug
include ../../blocks/components/m_tag/m_tag.pug
include ../../blocks/components/m_content_block/m_content_block.pug
include ../../blocks/components/m_form/m_form.pug
