+section('s-interactive', 'light-green', false)
  +m_title('Подробнее о нас')
  .l-section__text Узнайте больше о методике Абакус центра и пройдите ознакомительный урок
  .s-interactive__image
    img(src="./img/s-interactive/cover.svg", alt="")
  +mButton('s-interactive__btn', 'blue', '', 'Пройдите интерактивный урок', '')
