extends ../layouts/default

block variables
  - const title = "Ментальная арифметика"

block append head
  link(rel="stylesheet" href="./styles/arifmetica.css")

block content
  include ../../blocks/sections/s_interactive_platform/s_interactive_platform.pug
  include ../../blocks/sections/s_interactive/s_interactive.pug
  include ../../blocks/sections/s_mini_video/s_mini_video.pug

block append scripts
  script(defer src="./js/arifmetica.js")
