extends ../layouts/default

block variables
  - const title = "Программы"
  - const olimpDate = true

block append head
  link(rel="stylesheet" href="/styles/programs.css")

block content
  +m_video_section('Ментальная арифметика онлайн', '', 'Индивидуальные онлайн-занятия ментальной арифметикой с опытным педагогом на интерактивной платформе Абакус', '/img/s-about/cover.jpg', 'Записаться на занятие', 'white')
  include ../../blocks/sections/s_olimp/s_olimp.pug
  include ../../blocks/sections/s_sertification/s_sertification.pug
  +m_video_section('Курсы для педагогов', 'АССОЦИАЦИЯ ПЕДАГОГОВ ПО МЕНТАЛЬНОЙ АРИФМЕТИКЕ PAMA GLOBAL', 'Станьте экспертом ментальной арифметики и зарабатывайте от 75 000 рублей в месяц', '/img/s-about/cover.jpg', 'Получить прогамму тренировок', 'white')

block append scripts
  script(defer src="/js/programs.js")
