+section('s-schedule', 'light-green', false)
  +m_title('Гибкое расписание занятий', '')
  .s-schedule__description.a-font_text
    .s-schedule__description-title Планируйте онлайн-уроки в удобное время в любом месте
    p Занятия по ментальной арифметике теперь стали еще доступнее. Вы можете постигать уровни Абакус центра, не выходя из дома — в любое удобное время в любом мест.
    p Вы можете оставить заявку, и наши менеджеры подберут подходящее Вам время и назначат пробный урок с педагогом. Вы не тратите время на дорогу. Ребенок занимается самостоятельно в уютной домашней обстановке без вовлечения родителя.
  +mButton('s-schedule__btn', 'blue', '', 'Оставить заявку', '')
