extends layouts/default

block variables
  - const title = "Главная"

block append head
  link(rel="stylesheet" href="./styles/homepage.css")

block content
  +section('s-activities', 'white', false)
    +m_title('Как занятия помогут вашему ребенку?')
    +mButton('s-activities__btn', 'light-green', 'link', 'Все новости', '')
  +section('s-how', 'light-green', false)
    +m_title('Как проходят занятия')
  +section('s-why', 'white', false)
    +m_title('Почему стоит заниматься у нас?')
  +section('s-network', 'white', false)
    +m_title('Международная сеть Абакус Центр')
  +section('s-interesting', 'light-blue', false)
    +m_title('Интересное')
  +section('s-reviews', 'white', false)
    +m_title('Вместо тысячи слов — посмотрите отзывы')
  +section('s-smi', 'white', false)
    +m_title('СМИ о нас')
  +section('s-reviews-yandex', 'light-green', false)
    +m_title('Отзывы')
  +section('s-faq', 'light-blue', false)
    +m_title('Часто задаваемые вопросы')

block append scripts
  script(defer src="./js/homepage.js")
