:root {
  --a-color_text: #000000; //Основной черный текст для текста

  // Цвета для фона
  --a-color_bg: #fff;
  --a-color_bg--light-blue: #c3e6f5;
  --a-color_bg--blue: #29a4dd;
  --a-color_bg--dark-blue: #171664;
  --a-color_bg--light-green: #dfefad;
  --a-color_bg--green: #bade50;
  --a-color_bg--yellow: #faeb99;

  --a-color_link: #ff0040; //Цвет для ссылок
  --a-color_link--hover: #e8003a; //Цвет для ссылок :hover
}
