// Скругления
:root {
  --a-borderRadius--x4: 4px;
  --a-borderRadius--x8: 8px;
  --a-borderRadius--x10: 10px;
  --a-borderRadius--x12: 12px;
  --a-borderRadius--x16: 16px;
  --a-borderRadius--x20: 20px;
  --a-borderRadius--x24: 24px;
  --a-borderRadius--x32: 32px;
  --a-borderRadius--x65: 64px;
}
