.m-tag {
  &__title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: rem(10) rem(16);
    font-family: "Neometric Alt";
    font-size: rem(18);
    border-radius: rem(75);
    background-color: var(--a-color_bg--light-blue);

    @media (min-width: 768px) {
      padding: rem(18) rem(25);
      font-size: rem(28);
    }
  }

  &__text {
    font-family: "Neometric Alt";
    font-size: rem(18);
    margin-top: rem(20);

    @media (min-width: 1440px) {
      margin-top: rem(40);
    }

    @media (min-width: 1440px) {
      font-size: rem(22);
    }
  }
}
