mixin m_video_section(title, subtitle, text, image, btnText, bgColor)
  +section('m-video-section', bgColor, false)
    +m_title(title, 'h1')
    if subtitle
      .l-section__subtitle!= subtitle
    if text
      .l-section__text!= text
    +m_video(image, 'https://localhost')
    +mButton('m-video-section__btn', 'blue', '', btnText, '')
