@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNormsLight.woff2") format("woff2"),
    url("../fonts/TTNormsLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
